<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Continental</title>
    <link rel="icon" href="img/dog-icono.png">
    <link rel="stylesheet" href="style/estil.css">
    <link rel="stylesheet" href="style/servicios.css">
    <link href="https://file.myfontastic.com/K2Hqyt9UZyx6J7D9gx4cYM/icons.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="contenedor">
            <h1 class="icon-dog">The Continental</h1>
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>
            <nav class="menu">
                <a href="index.html">Inicio</a>
                <a href="formulario.html">Registro</a>
                <a href="">Servicios</a>
            </nav>
         </div>
    </header>
        <section>
            <div class="servicebox">
                <div class="servicecontenedor">
                    <h1>Nuestros Servicios</h1><br><br><br> 
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                       when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                       It has survived not only five centuries, but also the leap into electronic typesetting, 
                       remaining essentially unchanged.</p>
                </div>
            </div>
            <div class="servicios">
                <ul>
                    <li>
                        <div class="nameservicio">
                            <h2>Peluquería<br><span>Canina</span></h2><br></div>
                            <div class="detalles">
                                <p>Con este servicio podrás tener a tu regalón(a) 
                                    siempre impecable y a la moda con las tendencias 
                                    actuales de la peluquería canina.</p>
                                    <a href="#">Ver Detalles</a>
                            </div>
                    </li>
                    <li>
                        <div class="nameservicio">
                            <h2>Jardin<br><span>Canino</span></h2><br></div>
                            <div class="detalles">
                                <p>En nuestro servicio de jardin canino nos preocupamos 
                                    para que el día a día de tu perrito(a) sea entretenido 
                                    y seguro dentro de nuestras instalaciones.</p>
                                    <a href="#">Ver Detalles</a>
                            </div>
                    </li>
                    <li>
                        <div class="nameservicio">
                            <h2>Tienda<br><span>Canina</span></h2><br></div>
                            <div class="detalles">
                                <p>En nuestro Petshop podrás encontrar alimentos, 
                                    juguetes y accesorios de la mejor calidad a 
                                    un precio cómodo.</p>
                                    <a href="#">Ver Detalles</a>
                            </div>
                    </li>
                    <li>
                        <div class="nameservicio">
                            <h2>Continental<br><span>Park</span></h2><br></div>
                            <div class="detalles">
                                <p>Te sorprenderemos con un panorama familiar 
                                    de fin de semana dentro de nuestras 
                                    instalaciones en nuestro parque.</p>
                                    <a href="#">Ver Detalles</a>
                            </div>
                    </li>
                </ul>
            </div>
        </section>
        <div class="info">
                <h3>Acerca de nosotros. <br>Las mascotas no son simples compañeros, son miembros de la familia.</h3>
                        <div class="info-nos">
                            <img src="img/rg.jpg" alt="">
                            <h4>Ricardo Gonzalez</h4>
                        </div>
                        <div class="info-nos">
                            <img src="img/dm.JPG" alt="">
                            <h4>Diego Moya</h4>
                        </div>
            </div>
    <footer>
        <div class="social">
            <a href="" class="icon-facebook"></a>
            <a href="" class="icon-twitter"></a>
            <a href="" class="icon-gplus"></a>
        </div>
        <p class="copy">&copy; The Continental 2019 - Todos los derechos reservados. </p>
    </footer>

    <script src="js/validacion.js"></script>
</body>
</html>